@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:ital,wght@1,100&display=swap');
* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    max-width: 93.5%;
}

.left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-left: 75px;
    font-weight: bolder;
    color: black;
}

.right {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    color: black;
}

li {
    list-style: none;
}

.left li {}

.navtext:hover {
    border-top: #0abf53 3px solid;
}

.adyenlogo {
    width: 90px;
    border-top: none;
    padding-top: 20px;
}

.searchlogo {
    width: 14px;
    padding-top: 28px;
}

.login {
    padding-top: 26px;
}

button {
    background-color: #0abf53;
    color: white;
    width: 135px;
    height: 42px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 14px;
}

a {
    text-decoration: none;
    color: black;
}

.navtext {
    margin-left: 35px;
    padding-top: 30px;
    padding-top: 25px;
}

.right li {
    margin-left: 20px;
}